.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.mt30 {
  margin-top: 30px; }

.mt50 {
  margin-top: 50px; }

.frame {
  padding: 40px 60px; }

.frame0 {
  padding: 0 60px; }

.items50 {
  width: 50%; }

.items25 {
  width: 25%; }

.items65 {
  width: 65.166667%; }

.items20 {
  width: 20%; }

.items30 {
  width: 30%; }

.items40 {
  width: 40%; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.full {
  height: 100%;
  width: 100%; }

.orange {
  color: #f87311; }

.insider {
  position: absolute; }

.line3Appear {
  height: auto !important;
  visibility: visible !important;
  padding-bottom: 4px !important;
  padding-top: 10px !important;
  z-index: 1000 !important;
  -webkit-transform: translateY(0px) !important;
  -ms-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
  opacity: 1 !important; }

.book {
  font-weight: 600;
  background: #ee8930;
  font-size: 30px;
  border: none;
  padding: 17px 25px;
  border-radius: 7px; }
  .book a {
    color: white; }

.frame1 {
  padding: 40px 220px; }

.frame2 {
  padding: 40px 300px; }

@media only screen and (max-width: 1920px) {
  .frame0 {
    padding-left: 200px;
    padding-right: 200px; }
  .frame {
    padding-left: 200px;
    padding-right: 200px; } }

@media only screen and (max-width: 1440px) {
  .frame0 {
    padding-left: 130px;
    padding-right: 130px; }
  .frame {
    padding-left: 130px;
    padding-right: 130px; } }

@media only screen and (max-width: 768px) {
  #body #banner .insider h1 {
    font-size: 40px; } }

@media only screen and (max-width: 600px) {
  .book {
    font-size: 20px;
    padding: 14px 20px; }
  .itemspx {
    width: 30% !important; }
  .items40 {
    width: 45%; }
  .line3Appear {
    padding-bottom: 5px !important;
    padding-top: 5px !important; }
  #body #banner .insider h1 {
    font-size: 30px; }
  #steps .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #steps .box .items25 {
      width: 80%;
      margin-bottom: 15px; }
  #instruments {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #instruments .items30 {
      width: 80%;
      margin-bottom: 15px; }
  #why .content .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #why .content .box .items25 {
      width: 80%; }
  #reviews .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #reviews .box .items20 {
      width: 80%; } }

@media only screen and (max-width: 480px) {
  #howitwork .items30 {
    width: 70%; }
  .items40 {
    width: 70%; }
  .itemspx {
    width: 70% !important; }
  .items25 {
    width: 100%; }
  .items65 {
    width: 100%; }
  .items30 {
    width: 100%; }
  #instruments {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #instruments .items30 {
      width: 100%;
      margin-bottom: 20px; }
  .items20 {
    width: 100%; } }

@media only screen and (max-width: 360px) {
  .book {
    font-size: 17px; }
  #howitwork .items30 {
    width: 85%; }
  .items40 {
    width: 85%; }
  .itemspx {
    width: 85% !important; } }
