#body #post {
  border-top: 1px solid #ccc;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  #body #post h1 {
    margin-top: 0; }
  #body #post .post {
    width: 65%;
    padding-top: 40px !important;
    padding-bottom: 0 !important; }
    #body #post .post .title h1 {
      text-transform: uppercase; }
    #body #post .post .title p {
      color: #ccc; }
    #body #post .post img.limited {
      max-width: 600px;
      max-height: 600px; }
    #body #post .post .videowrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      height: 0;
      max-width: 600px;
      max-height: 600px;
      margin-top: 30px; }
      #body #post .post .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  #body #post .catogory {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    width: 30%;
    border-left: 1px solid #f3f3f3;
    padding-left: 15px; }
    #body #post .catogory .heading {
      font-size: 36px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif !important; }
    #body #post .catogory a {
      display: block;
      font-size: 18px; }
  #body #post #tags {
    width: 100%;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top: 1px solid #f3f3f3;
    margin-top: 30px; }
    #body #post #tags ul {
      margin-bottom: 0 !important; }
      #body #post #tags ul li {
        display: inline-block;
        padding: 6px 12px;
        background: #f87311;
        border-radius: 7px;
        margin: 10px; }
        #body #post #tags ul li a {
          color: white;
          text-decoration: underline; }

#body #news {
  border-top: 1px solid #f3f3f3; }

@media only screen and (min-width: 1440px) {
  #post .post .videowrapper {
    max-width: none !important; } }

@media only screen and (max-width: 1024px) {
  #body #post .post img.limited {
    width: 100%; }
  #body #post .post .videowrapper {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  #body #post .post {
    width: 100%; }
  #body #post .catogory {
    width: 100%;
    border-left: 0;
    padding: 0;
    border-top: 1px solid #ccc; } }
