#header .request {
  padding-right: 0 !important; }
  #header .request span {
    background: #f87311;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    line-height: 34px; }
    #header .request span a {
      color: white !important; }
      #header .request span a b {
        font-family: 'Montserrat', sans-serif !important; }

#header .request:hover span {
  background: #ff0200; }

#header .line1 {
  padding-top: 3px;
  background: white;
  overflow: hidden; }
  #header .line1 a {
    font-weight: 500;
    font-size: 16px; }
  #header .line1 .log {
    padding-top: 3px; }
    #header .line1 .log span {
      padding-left: 10px; }
      #header .line1 .log span a {
        text-decoration: underline; }

#header .line2 {
  background: white;
  padding-bottom: 20px; }
  #header .line2 .navbar {
    border: none;
    background: none;
    margin-bottom: 0; }
    #header .line2 .navbar a {
      color: black;
      font-weight: 600;
      font-size: 19px;
      line-height: 34px;
      font-family: 'Montserrat', sans-serif !important; }
    #header .line2 .navbar .navbar-header a.navbar-brand {
      padding-left: 0;
      font-weight: 300;
      padding-right: 0; }
      #header .line2 .navbar .navbar-header a.navbar-brand .orange {
        font-weight: 600; }
      #header .line2 .navbar .navbar-header a.navbar-brand img.logo {
        display: inline;
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
        height: 34px; }
    #header .line2 .navbar .collapse .navbar-form {
      display: none; }
    #header .line2 .navbar .collapse ul.navbar-right li.dropdown li:first-child {
      padding-left: 15px !important; }
    #header .line2 .navbar .collapse ul.navbar-right li {
      padding: 15px; }
      #header .line2 .navbar .collapse ul.navbar-right li a {
        padding: 0; }
    #header .line2 .navbar .collapse ul.navbar-right li:first-child {
      padding-left: 0; }

#header .line3 {
  height: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed !important;
  top: 0;
  z-index: -1;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px 0px #382727;
  box-shadow: 0px 1px 3px 0px #382727;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  opacity: 0; }
  #header .line3 span {
    font-size: 16px !important; }
  #header .line3 .phone a {
    font-size: 20px; }
  #header .line3 .logo {
    -webkit-transform: translate(17px, -3.5px);
    -ms-transform: translate(17px, -3.5px);
    transform: translate(17px, -3.5px); }
    #header .line3 .logo img {
      height: 40px; }
