* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#header .line1 {
  padding-top: 3px;
  background: white;
  overflow: hidden;
}

#header .line1 a {
  font-weight: 500;
  font-size: 16px;
}

#header .line1 .log {
  padding-top: 3px;
}

#header .line1 .log span {
  padding-left: 10px;
}

#header .line1 .log span a {
  text-decoration: underline;
}

#header .line2 {
  background: white;
  padding-bottom: 20px;
}

#header .line2 .navbar {
  border: none;
  background: none;
  margin-bottom: 0;
}

#header .line2 .navbar a {
  color: black;
  font-weight: 700;
  font-size: 19px;
  line-height: 34px;
  font-family: 'Montserrat', sans-serif !important;
}

#header .line2 .navbar .navbar-header a.navbar-brand {
  padding-left: 0;
  font-weight: 300;
  padding-right: 0;
}

#header .line2 .navbar .navbar-header a.navbar-brand .orange {
  font-weight: 600;
}

#header .line2 .navbar .navbar-header a.navbar-brand img.logo {
  display: inline;
  transform: translateY(-2px);
  height: 34px;
}

#header .line2 .navbar .collapse .navbar-form {
  display: none;
}

#header .line2 .navbar .collapse ul.navbar-right li.dropdown li:first-child {
  padding-left: 15px !important;
}

#header .line2 .navbar .collapse ul.navbar-right li {
  padding: 15px;
}

#header .line2 .navbar .collapse ul.navbar-right li a {
  padding: 0;
}

#header .line2 .navbar .collapse ul.navbar-right li:first-child {
  padding-left: 0;
}

#header .line2 .navbar .collapse ul.navbar-right li:last-child {
  padding-right: 0;
}

#header .line3 {
  height: 0;
  transition: all 0.5s;
  position: fixed !important;
  top: 0;
  z-index: -1;
  background: white;
  width: 100%;
  box-shadow: 0px 1px 3px 0px #382727;
  transform: translateY(-4px);
  opacity: 0;
}

#header .line3 span {
  font-size: 16px !important;
}

#header .line3 .phone a {
  font-size: 20px;
  cursor: pointer;
}

#header .line3 .logo {
  transform: translate(17px, -3.5px);
}

#header .line3 .logo img {
  height: 40px;
}

footer {
  background: #2c3f4f;
  color: white;
}

footer a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

footer button {
  width: 100%;
  border-radius: 0;
  background: #f87311;
  border: none;
  padding: 10px 0;
  font-weight: 500;
  font-size: 17px;
}

footer button:hover {
  background: #ff0200 !important;
}

footer #social {
  justify-content: flex-start;
}

footer #social .social {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  border: 2px double black;
  text-align: center;
  margin-right: 30px;
}

footer #social .social a {
  color: white;
  line-height: 36px;
  width: 36px;
  height: 36px;
  border: 2px solid #2c3f4f;
  border-radius: 50%;
}

#copyright {
  color: white;
  background: #23323f;
  font-weight: 300;
}

#copyright a {
  color: white;
}

#copyright a:hover {
  color: #f87311;
}

#body #banner, .main-content #banner {
  position: relative;
}

#body #banner .background .small, .main-content #banner .background .small {
  display: none;
}

#body #banner .insider, .main-content #banner .insider {
  bottom: -20px;
  width: 100%;
}

#body #banner .insider h1, .main-content #banner .insider h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 3%;
}

#body #banner .insider .instrument, .main-content #banner .insider .instrument {
  border: 1px solid white;
  color: white;
  background: #f87311;
  padding: 10px 25px;
  letter-spacing: 2px;
  border-radius: 13px;
  font-size: 20px;
  margin-bottom: 2%;
}

#body #banner .insider .instrument:hover, .main-content #banner .insider .instrument:hover {
  background: #ff0200;
}

#body #banner .insider .instrument:focus, .main-content #banner .insider .instrument:focus {
  background: #DB0707 !important;
}

#body #banner .search, .main-content #banner .search {
  margin-bottom: 2%;
}

#body #banner .search input[type=text], .main-content #banner .search input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  background-image: url("../images/icons/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#body #banner .search input[type=text]:focus, .main-content #banner .search input[type=text]:focus {
  width: 60%;
}

#body #options, .main-content #options {
  margin-top: 60px;
  margin-bottom: 50px;
}

#body #options #instruments .items30, .main-content #options #instruments .items30 {
  position: relative;
}

#body #options #instruments .items30 .insider, .main-content #options #instruments .items30 .insider {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
  transition: all 0.7s;
}

#body #options #instruments .items30 .insider a.link, .main-content #options #instruments .items30 .insider a.link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0 !important;
}

#body #options #instruments .items30 .insider .content, .main-content #options #instruments .items30 .insider .content {
  opacity: 0;
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  transition: all 1s;
}

#body #options #instruments .items30 .insider .content a, .main-content #options #instruments .items30 .insider .content a {
  align-self: center;
}

#body #options #instruments .items30 .insider .content a p, .main-content #options #instruments .items30 .insider .content a p {
  color: white;
  font-size: 50px;
}

#body #options #instruments .items30 .insider:hover, #body #options #instruments .items30 .insider:active, .main-content #options #instruments .items30 .insider:hover, .main-content #options #instruments .items30 .insider:active {
  background: rgba(0, 0, 0, 0.37);
}

#body #options #instruments .items30 .insider:hover .content, #body #options #instruments .items30 .insider:active .content, .main-content #options #instruments .items30 .insider:hover .content, .main-content #options #instruments .items30 .insider:active .content {
  opacity: 1;
}

#body #steps, .main-content #steps {
  background: #f0f1f1;
}

#body #steps h1, .main-content #steps h1 {
  font-size: 34px;
  margin-top: 0;
}

#body #steps .box, .main-content #steps .box {
  justify-content: space-around;
}

#body #steps .box .steps h2, .main-content #steps .box .steps h2 {
  font-size: 19px;
}

#body #steps .box .steps p, .main-content #steps .box .steps p {
  padding: 0 12%;
  font-weight: 600;
}

#body #steps .box .steps .picture, .main-content #steps .box .steps .picture {
  border-radius: 10px;
  margin: 0 22%;
  overflow: hidden;
}

#body #why, .main-content #why {
  position: relative;
  background: url(../images/banner/Anh-office-02.jpg) no-repeat no-repeat;
  background-size: cover;
  padding-top: 50px;
}

#body #why .content, .main-content #why .content {
  z-index: 3;
  color: white;
}

#body #why .content h1, .main-content #why .content h1 {
  margin-top: 0;
  padding-bottom: 40px;
}

#body #why .content .box, .main-content #why .content .box {
  justify-content: space-around;
}

#body #why .content .box h4, .main-content #why .content .box h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

#body #why .content .box p, .main-content #why .content .box p {
  font-weight: 300;
}

#body #reviews .box, .main-content #reviews .box {
  justify-content: space-around;
  padding-top: 30px;
}

#body #reviews .box .stars, .main-content #reviews .box .stars {
  padding-bottom: 30px;
}

#body #reviews .box .stars span, .main-content #reviews .box .stars span {
  color: #ffdd17;
}

#body #reviews .box .content span, .main-content #reviews .box .content span {
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#body #reviews .box .content .more, .main-content #reviews .box .content .more {
  color: #f87311;
  cursor: pointer;
}

#body #reviews .box .students, .main-content #reviews .box .students {
  padding-top: 40px;
  justify-content: flex-start;
}

#body #reviews .box .students img, .main-content #reviews .box .students img {
  width: 25%;
  border-radius: 100%;
  overflow: hidden;
  background: gray;
  margin-right: 10px;
}

#body #reviews .box .students .info, .main-content #reviews .box .students .info {
  align-self: center;
  width: 70%;
}

#body #reviews .box .students .info h4, .main-content #reviews .box .students .info h4 {
  font-family: 'Open Sans', sans-serif !important;
}

#body #count, .main-content #count {
  background: #f0f1f1;
}

#body #myInstrument, .main-content #myInstrument {
  position: relative;
}

#body #myInstrument .insider, .main-content #myInstrument .insider {
  width: 100%;
  top: 0;
  color: white;
}

#body #myInstrument .insider h1, .main-content #myInstrument .insider h1 {
  letter-spacing: 2px;
  padding-top: 40px;
  margin-bottom: 0;
}

#body #myInstrument .insider p, .main-content #myInstrument .insider p {
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}

#body #myInstrument .insider .instrument, .main-content #myInstrument .insider .instrument {
  border: 2px solid white;
  background: #f87311;
  font-size: 20px;
  font-weight: 500;
  padding: 17px 20px;
  border-radius: 7px;
  transition: 0.3s all;
  background: #f05329;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#body #myInstrument .insider .instrument:hover, .main-content #myInstrument .insider .instrument:hover {
  background: #f05329;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#body #contact, .main-content #contact {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body #contact h4, #body #contact h3, .main-content #contact h4, .main-content #contact h3 {
  margin: 0;
}

#body #contact h4, .main-content #contact h4 {
  margin-top: 3px;
}

.main-content #why {
  background: none;
}

.main-content #why .content {
  color: black;
}

.post a {
  text-decoration: none !important;
  color: #f87311 !important;
}

.post a:hover {
  text-decoration: underline !important;
}

.button-block {
  margin: 10px 0;
}

@media screen and (min-width: 425px) {
  .button-block {
    padding: 14px 0;
  }
}

@media screen and (min-width: 500px) {
  .button-block {
    padding: 18px 0;
  }
}

@media screen and (min-width: 768px) {
  .button-block {
    padding: 21px 0;
  }
}

@media screen and (min-width: 813px) {
  .button-block {
    padding: 24px 0;
  }
}

.btn-anchor {
  padding: 12px;
  margin: 120px 0;
  background: #f87311;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  line-height: 34px;
}

.btn-anchor .anchor-text {
  padding: 12px 0;
  text-decoration: none;
  color: white !important;
  font-family: 'Montserrat', sans-serif !important;
}

.btn-anchor .anchor-text:hover {
  text-decoration: none !important;
}

.btn-anchor:hover {
  background: #ff0200;
}

.btn-long {
  padding: 4px 0;
}

@media screen and (min-width: 768px) {
  .btn-long {
    padding: 12px 0;
  }
}

.btn-long .anchor-text {
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
}

@media screen and (min-width: 375px) {
  .btn-long .anchor-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 425px) {
  .btn-long .anchor-text {
    padding: 6px;
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .btn-long .anchor-text {
    padding: 8px;
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .btn-long .anchor-text {
    padding: 12px;
    font-size: 19px;
    font-weight: 700;
  }
}

@media screen and (min-width: 813px) {
  .btn-long .anchor-text {
    padding: 12px 50px;
  }
}

.btn-shadow {
  box-shadow: 3px 2px 1px 1px #777;
}
