ul{
	li{
		list-style-type: none;
	}
}
a{
	text-decoration: none;
    color: black;
}
p{
    font-size: 16px;
}
a:hover{
    text-decoration: none;
    color: #f87311;
}
@media only screen and (max-width:1440px){
    
    #options{
        .items30{
            width: 27%;
        }
    }
    
}
@media only screen and (max-width:1024px){
    #options{
        .items30{
            width: 30%;
        }
    }
    #footer{
        .frame{
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    .frame0{
        padding-left: 60px;
        padding-right: 60px;
    }
    
}
@media only screen and (max-width:991px){

    #header{
        .navbar-toggle{
            margin-top: 11px;
            margin-bottom: 0;
            margin-right: 0;
        }
        .line2{
            padding: 10px;
            padding-top: 0;
            .navbar{
                
                padding: 0 5px !important;
                .navbar-collapse{
                    padding: 0;
                }
                a{
                    font-size: 16px;
                    line-height: 24px;
                }
                .collapse{
                    ul.navbar-right{
                        li:first-child{
                            padding-left: 15px;
                        }
                    }
                }
                .collapse.in{
                    overflow-y: inherit !important;
                }
            }
        }
    }
    .frame{
        padding: 40px 15px  !important;
    }
    .frame0{
        padding: 0 15px ;
    }
}
@media only screen and (max-width:768px){
    .search{
        display: none;
    }
    #header{
        .line2{
            .navbar-form {
                display: inherit !important;
                border: none;
            }
        }
    }
    footer{
        h3{
            font-size: 19px;
        }
    }
    .items20{
        width: 25%;
    }
    #header{
        
        .navbar{
            .navbar-collapse{
                padding-left: 0;
                border-top: 0;
            }
        }
    }
    .items50{
        width: 100%;
    }
    .items25{
        width: 30%;
    }
    #body{
        #options{
            #instruments{
                .items30{
                    .insider{
                        .content{
                            a{
                                p{
                                    font-size: 40px ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #myInstrument{
        .insider{
            h1{
                margin-top: 0;
            }
        }
    }
}
@media only screen and (max-width:600px){
    #myInstrument{
        height: 300px;
        .background{
            overflow: hidden;
            img{
                
                height: 300px;
                width: auto;
            }
        }
    }
    #header{
        .line3{
            .logo{
                display: none;
            }
        }
    }
}

@media only screen and (max-width:480px){
    #footer{
        footer{
            .items30{
                border-bottom: 1px solid #f87311;
            }
            .items30:last-child{
                border: none;
            }
        }
    }
    #instruments{
        justify-content: space-around;
        .items30{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    #myInstrument{
    
        .insider{
            h1{
                font-size: 30px;
                line-height: 35px;
            }
            p{
                padding-bottom: 10px !important;
                padding-top: 10px !important;
            }
        }
    }
    #banner{
        position: relative;
        height: 200px !important;
        .background{
            overflow: hidden;
            img{
                height: 200px;
                width: auto;
            }
        }
    }
    
    h3{
        font-size: 19px;
    }
    footer{
        .items30{
            padding-bottom: 30px;
        }
    }
    .items20{
        width: 100%;padding-bottom: 20px;
    }
    h1{
        font-size: 28px !important;
    }
    #myInstrument{
        .insider{
            padding: 0 15px;
        }
        
    }
    h1{
        font-size: 32px;
        line-height: 40px;
    }
    .instrument{
        font-size: 14px !important;
        padding: 7px 18px !important;
    }
    
    #body{
        #reviews{
            .box{
                padding-top: 0;
            }
        }
        #banner{
            .insider{
                h1{
                    font-size: 22px !important;
                }
                
            }
        }
    }
    #count{
        img{
            width: 100%;
            padding: 0 15px;
        }
    }
    .items25{
        width: 100%;
        padding-bottom: 15px;
    }
    
    #options{
        #instruments{
            .items30{
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:425px){
    #body{
        #banner{
            .background{
                .big{
                    display: none;
                }
                .small{
                    display: inherit;

                }
            }
        }
    }
}

@media only screen and (max-width:360px){
    h1{
        font-size: 25px !important;
    }
    .phone{
        a{
            font-size: 14px !important;
        }
    }
    
}
@media only screen and (max-width:320px){
    #contact{
        h4{
            font-size: 17px !important;
        }
    }
}